/* Centralização dos conteúdos do App */
.App {
    text-align: center;
}

/* Margem para compensar a altura do header */
/* Deve ser usada para envelopar as páginas */
.Container {
    margin-top: 10vh;
}

.Back-link,
.Card-link,
.Home-link:link,
.Home-link:visited,
.Home-link:hover,
.Home-link:active {
    text-decoration: none;
}