.Container-grid {
    margin-bottom: 25px;
}

.Outer-box {
    max-width: 300px;
    cursor: pointer;
}

.inside-card {
    background-color: #D5E9F7;
    border-radius: 25px;
    max-width: 400px;
}

.Card-image {
    border-radius: 25px;
    max-height: 250px;
}

/* Container para o texto */
.Title-box {
    color: black;
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    text-align: center;
}

.mat-divider {
    margin: 20px;
    border-top-color: #999999;
}

.Error-api-text {
    margin: 20px;
}

.CORS-button {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 200;
}

.Subtitle-button {
    font-size: 10px;
}
